* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .main-container {
    flex: 1;
  }

  .header-container {
    flex: 0;
  }

  .content-container {
    flex: 0;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }